<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
  {% endblock %}

  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

  {% if FAVICON %}
    <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon">
    <link rel="icon" href="{{ FAVICON }}" type="image/x-icon">
  {% endif %}
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="{{ ROBOTS }}" />
  {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/flex.css">

  <link rel="license" hreflang="en" href="{{ SITEURL }}/copyright.html" />

</head>
<body>
  <aside>
    <div>
      <a href="/">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/profile.png" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
      </a>
      <h1><a href="{{ SITEURL }}">{{ SITETITLE }}</a></h1>
      {% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}</p>{% endif %}
      <nav>
        <ul>
          {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </aside>
  <main>
    {% if LINKS %}
    <nav>
      {% for name, link in LINKS %}
        <a href="{{ link }}" target="_blank">{{ name }}</a>
      {% endfor %}
    </nav>
    {% endif %}

    <div id='content'>
    {% block content %}{% endblock %}
    </div>

    {% include "partial/footer.html" %}
  </main>

  {% if GOOGLE_ANALYTICS %}
    {% include "partial/ga.html" %}
  {% endif %}

  {% include "partial/jsonld.html" %}

  {% block additional_js %}{% endblock %}
</body>
</html>
