/* This file is (generally) organized according to SMACSS */

/*
 *  Base
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'),
       url('/theme/fonts/raleway-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/raleway-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
       url('/theme/fonts/quicksand-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/quicksand-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

a {
  color: #d9411e;
  text-decoration: none;
}
a:hover {
  color: #ff5a09;
}

body, html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #242121;
  font-family: 'Raleway', serif;
  font-size: 1.1em;
  line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.36em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

p {
  margin: 2em 0;
}

article h1 {
  margin-bottom: 0;
}

/*
 *  Layout
 */
article {
  margin: 0 6vw;
}
main {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
main #content {
  flex: 1;
}
section {
  /* TODO: div.section here? */
  margin: 0 -6vw;
  padding: 2em 6vw;
}

@media screen and (min-width: 768px) {
  aside {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  main {
    width: 75%;
    position: absolute;
    top: 0;
    left: 25%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media screen and (min-width: 1000px) {
  article {
    margin: 0 8vw;
  }
  section, div.section {
    margin: 0 -8vw;
    padding: 2em 8vw;
  }
}
@media screen and (min-width: 1800px) {
  article {
    margin: 0 12vw;
  }
  section, div.section {
    margin: 0 -12vw;
    padding: 2em 12vw;
  }
}


/*
 *  Modules
 */
aside {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
aside a {
  color: #fff;
  transition: all 0.2s linear;
}
aside a:hover {
  color: #eee;
  text-shadow: 0 0 1.5em #fff, 0 0 2.5em #fff;
}
aside h1 {
  font-size: 1.6em;
  margin: 15px 0 5px 0;
}
aside p {
  /* TODO: give this a class-name */
  font-size: .92em;
  margin: 0 0 15px 0;
}
aside nav ul {
  columns: 2; -moz-columns: 2; -webkit-columns: 2;
  column-gap: 2em; -moz-column-gap: 2em;  -webkit-column-gap: 2em;
  column-rule: 1px dotted #999; -moz-column-rule: 1px dotted #999; -webkit-column-rule: 1px dotted #999;
  list-style-type: none;
  padding: 0;
  text-align: left;
}
aside nav li {
  font-size: 1.28em;
  line-height: 1.6em;
  text-transform: lowercase;
}
aside nav li:nth-of-type(-n+4) { /* hard-coded; CSS has no concept of "half" */
  text-align: right;
}
@media screen and (min-width: 768px) {
  aside {
    padding: 36px 0;
  }
  aside nav ul {
    columns: auto; -moz-columns: auto; -webkit-columns: auto;
    text-align: center;
  }
  aside nav li:nth-of-type(-n+4) {
    text-align: inherit;
  }
}

footer {
  border-top: #eee 1px solid;
  line-height: 0.7em;
  padding: 1em 0;
}
footer p {
  color: #999;
  font-size: 15px;
  margin: 2px;
  text-align: center;
}
footer span.break {
  display: block;
}
@media screen and (min-width: 1000px) {
  footer span.break { display: inline; }
}

.publications {
  line-height: 1.3em;
}

section {
  border-bottom: #eee 3px solid;
  overflow: hidden;
}
section:nth-child(2n) { background-color: #f6f6f6; }
section:first-of-type { border-top: #eee 3px solid; }
section:last-of-type  { border: 0; }

section > h2:first-child, div.section > h2:first-child,
section > h3:first-child, div.section > h3:first-child {
  margin-top: 0;
}

/* TODO: find this a home */
h2 + section { border-top: 0; }
/* TODO: Find this a home */
div.section:last-child { padding-bottom: 0; } /* members page only */

section a.image-reference { /* link that wraps the logo; default class name */
  display: block;
  margin: 0 auto 1.5em auto;
}
section a.image-reference img {
  max-height: 40vh;
  min-width: 50vw;
  object-fit: scale-down;
  width: 100%;
}
@media screen and (min-width: 768px) {
  section a.image-reference img { max-height: 20vh; }
}

.social-links {
  font-size: 1.6em;
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
}
.social-links li {
  display: inline;
  margin: 0 0.2em;
}
.social-links a {
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-size: .8em;
  line-height: 1.6em;
  text-align: center;
  transition: transform 0.2s linear;
  height: 1.6em;
  width: 1.6em;
}
.social-links a:hover {
  transform: translateY(-0.2em);
}
.social-links .icon-github       { background-color: #111010; }
.social-links .icon-google       { background-color: #d93e2d; }
.social-links .icon-home         { background-color: #bbb; }
.social-links .icon-mail         { background-color: #5e47b9; }
.social-links .icon-researchgate { background-color: #00d0af; }
.social-links .icon-researchgate:before { content: 'R'; }
.social-links .icon-twitter      { background-color: #4da7de; }

/*
 *  State
 */
aside a.active {
  animation: borderFadeIn 0.5s;
  border-bottom: 3px solid rgba(217,65,30,1.0);
  padding-bottom: 0.1em;
}

@keyframes borderFadeIn {
  from { border-bottom: 3px solid rgba(217,65,30,0.0); }
  to   { border-bottom: 3px solid rgba(217,65,30,1.0); }
}

/*
 *  Page Specific
 */

/* Members Page */
.members {
  align-items: flex-end;
  background: repeating-linear-gradient(180deg, #fff 0px, #f6f6f6 500px, #fff 502px, #fff calc(502px + 6em));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.members .mem {
  border-bottom: 1px solid #d0d0d0;
  flex-basis: 100%;
  height: calc(501px + 6em);
  position: relative;
}
.members .mem:last-of-type {
  border-bottom: none;
}
.members .mugshot {
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 500px;
}
.members .info {
  color: #3a4046;
  font-size: 14px;
  line-height: 24px;
  padding: 0.5em 0;
  text-align: center;
}
.members .info h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  margin: 0 0 5px;
}
.members .title {
  font-size: 18px;
  line-height: 22px;
  margin: 0.5em 0;
}
.members .blurb {
  display: none;
}
.members .social-links {
  margin: 0;
}

.members.alumni {
  background: repeating-linear-gradient(180deg, #fff 0px, #f6f6f6 310px, #fff 311px, #fff calc(311px + 4em));
}
.members.alumni .mem {
  height: calc(310px + 4em);
}
.members.alumni .mem .mugshot {
  background-size: auto 290px;
  height: 310px;
}

@media screen and (min-width: 500px) {
  .members.alumni .mem { flex-basis: 48%; }
}

@media screen and (max-width: 767px) {
  .members.grills {
    background: repeating-linear-gradient(180deg, #fff 0px, #f6f6f6 500px, #fff 502px, #fff calc(502px + 2em));
  }
  .members.grills .mem {
    height: calc(501px + 2em);
  }
}

@media screen and (min-width: 768px) {
  .members {
    background: repeating-linear-gradient(180deg, #fff 0px, #f6f6f6 540px);
  }
  .members .mem {
    border-bottom: none;
    flex-basis: 48%;
    height: 540px;
  }
  .members .mugshot {
    transition: opacity .2s ease-in-out;
    height: 540px;
  }
  .members .mem:hover {
    cursor: help;
  }
  .members .mem:hover .info, .members .mem:active .info {
    opacity: 1;
    top: 23%;
  }
  .members .mem:hover .mugshot, .members .mem:active .mugshot {
    opacity: .1;
  }
  .members .mem .info {
    margin: 0 10%;
    opacity: 0;
    position: absolute;
    text-align: left;
    top: 28%;
    transition: all .3s ease-in-out;
    width: 80%;
  }
  .members .blurb {
    display: unset;
  }
  .members .social-links {
    padding: 0.5em 0;
  }

  .members.alumni {
    background: repeating-linear-gradient(180deg, #fff 0px, #f6f6f6 350px);
  }
  .members.alumni .mem {
    height: 350px;
    flex-basis: 32%;
  }
  .members.alumni .mem .mugshot {
    height: 350px;
  }
}

/* 1400px = (350 * 3) * (4/3) --- 350 = mugshot width; 4/3 because <main> is 75vw */
@media screen and (min-width: 1400px) {
  .members .mem { flex-basis: 32%; }
  .members.alumni .mem { flex-basis: 24%; }
}

/* Contact Page */
#contact {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#contact > div {
  flex-basis: 100%;
}
#contact #map {
  flex-basis: 100%;
  height: 60vh;
  padding: 1em 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #contact #map { height: 30em; }
}

@media screen and (min-width: 1000px) {
  #contact > div { flex-basis: 50%; }
  #contact > div:nth-child(2n) { text-align: right; }
}
